<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Puissance 4</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="game-container">

<h1>Puissance 4</h1>
<p id="status"></p>
<canvas id="board" width="450" height="510"></canvas>

<div class="buttons">

<button onclick="undo()">Undo</button>
<button onclick="restart()">Restart</button>
<button onclick="setAI('random')">IA Random</button>
<button onclick="setAI('minimax')">IA Minimax</button>
<button onclick="playNormalAIOneMove()">🤖 IA joue 1 coup</button>
<button onclick="setDepth()">Profondeur</button>
<button onclick="saveGame()">💾 Save</button>
<button onclick="goMenu()">🏠 Menu</button>

</div>



</div>

<script>
window.game_id = {{ game_id | tojson }};
window.mode = {{ mode | tojson }};
window.page_mode = "play";
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>